:root {
  --white-100: hsl(10, 10%, 100%);
  --white-200: hsl(10, 10%, 90%);
  --white-300: hsl(10, 10%, 80%);

  --black-100: hsl(10, 10%, 10%);
  --black-200: hsl(10, 10%, 30%);
  --black-300: hsl(10, 10%, 40%);

  --blue-100: hsl(217, 99%, 65%);
  --blue-300: hsl(217, 99%, 45%);
}

body {
  color: var(--black-100);
  background: var(--white-100);
  font-family: monospace;
  padding: 1rem;
}

* {
  box-sizing: border-box;
  font-family: inherit;
}

form {
  display: flex;
  gap: 0.5rem;
}

input[id='file'] {
  display: none;
}

button,
label[for='file'] {
  --text-color: var(--black-100);
  --background-color: var(--white-300);
  --border-color: var(--white-100);

  --hover-text-color: var(--black-100);
  --hover-background-color: var(--white-200);
  --hover-border-color: var(--white-100);

  --active-text-color: var(--black-100);
  --active-background-color: var(--white-300);
  --active-border-color: var(--white-100);

  --disabled-text-color: var(--black-300);
  --disabled-background-color: var(--white-200);
  --disabled-border-color: var(--white-200);

  --focus-outline-color: var(--blue-100);
}

button,
label[for='file'] {
  color: var(--text-color);
  background: var(--background-color);
  border: 1px solid var(--border-color);
  padding: 0.75rem 1rem;
}

button:hover,
label[for='file']:hover {
  cursor: pointer;
  color: var(--hover-text-color);
  background: var(--hover-background-color);
  border-color: var(--hover-border-color);
}

button:focus,
label[for='file']:focus {
  outline: 2px solid var(--focus-outline-color);
}

button:active:not(:disabled),
label[for='file']:active:not(:disabled) {
  color: var(--active-text-color);
  background: var(--active-background-color);
  border-color: var(--active-border-color);
  transform: scale(0.98);
}

button:disabled,
label[for='file']:disabled {
  color: var(--disabled-text-color);
  background: var(--disabled-background-color);
  border: 1px solid var(--disabled-border-color);
  cursor: not-allowed;
}

header {
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-between;
}

.left pre {
  margin: 0;
}

.right .glyph-cell,
#glyph-grid {
  --border-color: var(--white-200);
  --background-color: var(--white-100);
  --info-color: var(--black-300);

  border: 0.5px solid var(--border-color);
}

#glyph-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  margin-top: 1rem;
}

.glyph-cell {
  padding: 0.5rem;
  text-align: center;
  border: 0.5px solid var(--border-color);
  background: var(--background-color);
}

:root {
  --glyph-font: monospace;
  --glyph-style: normal;
}

.glyph-cell .glyph {
  font-family: var(--glyph-font);
  font-style: var(--glyph-style);
  font-size: 24px;
  margin: 5px 0;
}

.glyph-cell .index,
.glyph-cell .unicode,
.glyph-cell .width {
  font-size: 12px;
  color: var(--info-color);
}

.glyph-cell .index {
  opacity: 0.25;
}

.glyph-cell .unicode {
  opacity: 0.25;
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--white-200);
    background: var(--black-100);
  }

  .right .glyph-cell,
  #glyph-grid {
    --border-color: var(--black-200);
    --background-color: var(--black-100);
    --info-color: var(--white-300);
  }

  button,
  label[for='file'] {
    --text-color: var(--white-300);
    --background-color: var(--black-300);
    --border-color: var(--black-200);

    --hover-text-color: var(--white-200);
    --hover-background-color: var(--black-200);
    --hover-border-color: var(--black-200);

    --active-text-color: var(--white-300);
    --active-background-color: var(--black-100);
    --active-border-color: var(--black-300);

    --disabled-text-color: var(--black-100);
    --disabled-background-color: var(--black-200);
    --disabled-border-color: var(--black-200);

    --focus-outline-color: var(--blue-300);
  }
}
